body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}

footer {
    background-color: SlateGray;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container {
    display: flex;
    gap: 24px;
}

.social-link {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
    padding: 10px;
    fill: SlateGray;
}

.social-link:hover {
    transform: scale(1.2);
}